@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./vars.scss";

html {
  font-family: 'Arial', sans-serif;
}

body {
  background: $background;
}

textarea {
  font-family: 'Arial', sans-serif;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
