@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "./vars.scss";

html {
  font-family: 'Arial', sans-serif;
}

body {
  background: $background;
}

textarea {
  font-family: 'Arial', sans-serif;
}
