@import '../../vars.scss';

.Verse {
  // padding: 16px 10px 32px; (if showing the year)
  padding: 16px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  .verse-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10px;
    span {
      font-size: 10px;
      color: $black;
      text-align: center;
    }
    .circle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%;
      background: white;
      width: 46px;
      height: 46px;
      color: $purple;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
    }
  }
  .text {
    height: 100%;
    position: relative;
    line-height: 20px;
    font-size: 14px;
    color: $black;
    background: white;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
    .year {
      position: absolute;
      font-size: 10px;
      left: 5px;
      bottom: -24px;
      color: $black;
    }
  }
}
