@import "../../vars.scss";

.Menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.1);
  .button-container {
    position: absolute;
    bottom: 2px;
    right: 0;
    margin: 10px;
    .menu-button, .comment-button {
      width: 45px;
      height: 45px;
      background: white;
      margin: 5px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
      img {
        width: 100%;
      }
      h1 {
        position: absolute;
        right: 60px;
        font-size: 9px;
      }
    }
    .menu-button {
      padding: 15px;
    }
    .comment-button {
      overflow: hidden;
    }
    .add-section-menu {
      background: $lightgray;
      color: $darkgray;
      width: 45px;
      height: 45px;
      margin: 5px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
      h1 {
        font-size: 36px;
      }
    }
  }
}
